# Importing Dataset

In [1]:
import pandas as pd
import numpy as np
fileName = r'data/in-vehicle-coupon-recommendation.csv'
df = pd.read_csv(fileName, sep=',', na_values = ['?'])

In [2]:
fileName = r'data/in-vehicle-coupon-recommendation.csv'
df = pd.read_csv(fileName)

# the first top 10 records
df.head(10)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
5,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
6,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
7,No Urgent Place,Kid(s),Sunny,80,10AM,Restaurant(<20),2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
8,No Urgent Place,Kid(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
9,No Urgent Place,Kid(s),Sunny,80,10AM,Bar,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [3]:
# look at the last five records
df.tail()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

#### DataFrame meta data

In [4]:
df.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

#### Transform the object data types to Categorical data types.

In [6]:
# df.select_dtypes(include=['object'])
inVechicle_obj = df.select_dtypes(include=['object']).copy() # get a copy of the object column names

# loop through the inVechicle_obj column names 
# and convert each column of the original data frame to the category data type  
for colName in inVechicle_obj.columns:
    df[colName] = df[colName].astype('category')
    
df.dtypes

destination             category
passanger               category
weather                 category
temperature                int64
time                    category
coupon                  category
expiration              category
gender                  category
age                     category
maritalStatus           category
has_children               int64
education               category
occupation              category
income                  category
car                     category
Bar                     category
CoffeeHouse             category
CarryAway               category
RestaurantLessThan20    category
Restaurant20To50        category
toCoupon_GEQ5min           int64
toCoupon_GEQ15min          int64
toCoupon_GEQ25min          int64
direction_same             int64
direction_opp              int64
Y                          int64
dtype: object

<p>There are 26 columns.</p>

In [7]:
df.describe(include='all')

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,12684,12684,12684,12684.000000,12684,12684,12684,12684,12684,12684,...,12467,12533,12554,12495,12684.0,12684.000000,12684.000000,12684.000000,12684.000000,12684.000000
unique,3,4,3,NaN,5,5,2,2,8,5,...,5,5,5,5,NaN,NaN,NaN,NaN,NaN,NaN
top,No Urgent Place,Alone,Sunny,NaN,6PM,Coffee House,1d,Female,21,Married partner,...,less1,1~3,1~3,less1,NaN,NaN,NaN,NaN,NaN,NaN
freq,6283,7305,10069,NaN,3230,3996,7091,6511,2653,5100,...,3385,4672,5376,6077,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,63.301798,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.561495,0.119126,0.214759,0.785241,0.568433
std,NaN,NaN,NaN,19.154486,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.496224,0.323950,0.410671,0.410671,0.495314
min,NaN,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,NaN,NaN,NaN,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,NaN,NaN,NaN,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,NaN,NaN,NaN,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

#### unique values of the some of the categorical attributes

In [8]:
df['destination'].unique()

['No Urgent Place', 'Home', 'Work']
Categories (3, object): ['Home', 'No Urgent Place', 'Work']

In [9]:
df['passanger'].unique()

['Alone', 'Friend(s)', 'Kid(s)', 'Partner']
Categories (4, object): ['Alone', 'Friend(s)', 'Kid(s)', 'Partner']

In [10]:
df['weather'].unique()

['Sunny', 'Rainy', 'Snowy']
Categories (3, object): ['Rainy', 'Snowy', 'Sunny']

In [11]:
df['coupon'].unique()

['Restaurant(<20)', 'Coffee House', 'Carry out & Take away', 'Bar', 'Restaurant(20-50)']
Categories (5, object): ['Bar', 'Carry out & Take away', 'Coffee House', 'Restaurant(20-50)', 'Restaurant(<20)']

In [12]:
df['car'].unique()

[NaN, 'Scooter and motorcycle', 'crossover', 'Mazda5', 'do not drive', 'Car that is too old to install Onstar :D']
Categories (5, object): ['Car that is too old to install Onstar :D', 'Mazda5', 'Scooter and motorcycle', 'crossover', 'do not drive']

In [13]:
df['Bar'].unique()

['never', 'less1', '1~3', 'gt8', NaN, '4~8']
Categories (5, object): ['1~3', '4~8', 'gt8', 'less1', 'never']

In [14]:
df['CoffeeHouse'].unique()

['never', 'less1', '4~8', '1~3', 'gt8', NaN]
Categories (5, object): ['1~3', '4~8', 'gt8', 'less1', 'never']

In [15]:
df['occupation'].unique()

['Unemployed', 'Architecture & Engineering', 'Student', 'Education&Training&Library', 'Healthcare Support', ..., 'Protective Service', 'Food Preparation & Serving Related', 'Production Occupations', 'Building & Grounds Cleaning & Maintenance', 'Farming Fishing & Forestry']
Length: 25
Categories (25, object): ['Architecture & Engineering', 'Arts Design Entertainment Sports & Media', 'Building & Grounds Cleaning & Maintenance', 'Business & Financial', ..., 'Sales & Related', 'Student', 'Transportation & Material Moving', 'Unemployed']

In [16]:
df.select_dtypes('int64').nunique()

temperature          3
has_children         2
toCoupon_GEQ5min     1
toCoupon_GEQ15min    2
toCoupon_GEQ25min    2
direction_same       2
direction_opp        2
Y                    2
dtype: int64

<p>We learn that toCoupon_GEQ5min has one unique value, which will not be beneficial to our analysis so we shall have to drop that attribute.</p>

#### Let's find out if we have any missing values

In [17]:
df.isnull()[0:10]

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [18]:
#### determining the number of missing values in each column
df.isna().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [19]:
df2=df.drop('car',axis=1)
df2.shape

(12684, 25)

In [20]:
df4=df2.dropna()
df4.shape

(12079, 25)

In [27]:
df4.loc[df4['time'] == '7AM', 'time'] = 0
df4.loc[df4['time'] == '10AM', 'time'] = 1
df4.loc[df4['time'] == '2PM', 'time'] = 2
df4.loc[df4['time'] == '6PM', 'time'] = 3
df4.loc[df4['time'] == '10PM', 'time'] = 4

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [ ]:
df3.loc[df3.maritalStatus == 'Unmarried partner', 'maritalStatus'] = 'Unmarried'
df3.loc[df3.maritalStatus == 'Divorced', 'maritalStatus'] = 'Unmarried'
df3.loc[df3.maritalStatus == 'Widowed', 'maritalStatus'] = 'Unmarried'

In [ ]:
df3.loc[df3.age == 'below21', 'age'] = 0
df3.loc[df3.age == '21', 'age'] = 1
df3.loc[df3.age == '26', 'age'] = 2
df3.loc[df3.age == '31', 'age'] = 3
df3.loc[df3.age == '36', 'age'] = 4
df3.loc[df3.age == '41', 'age'] = 5
df3.loc[df3.age == '46', 'age'] = 6
df3.loc[df3.age == '50plus', 'age'] = 7

In [ ]:
df3.loc[df3.income == 'Less than $12500', 'income'] = 0
df3.loc[df3.income == '$12500 - $24999', 'income'] = 1
df3.loc[df3.income == '$25000 - $37499', 'income'] = 2

df3.loc[df3.income == '$37500 - $49999', 'income'] = 3
df3.loc[df3.income == '$50000 - $62499', 'income'] = 4
df3.loc[df3.income == '$62500 - $74999', 'income'] = 5

df3.loc[df3.income == '$75000 - $87499', 'income'] = 6
df3.loc[df3.income == '$87500 - $99999', 'income'] = 7
df3.loc[df3.income == '$100000 or More', 'income'] = 8

In [ ]:
df3.loc[df3.Restaurant20To50 == 'never', 'Restaurant20To50'] = 0
df3.loc[df3.Restaurant20To50 == 'less1', 'Restaurant20To50'] = 1
df3.loc[df3.Restaurant20To50 == '1~3', 'Restaurant20To50'] = 2
df3.loc[df3.Restaurant20To50 == '4~8', 'Restaurant20To50'] = 3
df3.loc[df3.Restaurant20To50 == 'gt8', 'Restaurant20To50'] = 4

In [ ]:
df3.loc[df3.RestaurantLessThan20 == 'never', 'RestaurantLessThan20'] = 0
df3.loc[df3.RestaurantLessThan20 == 'less1', 'RestaurantLessThan20'] = 1
df3.loc[df3.RestaurantLessThan20 == '1~3', 'RestaurantLessThan20'] = 2
df3.loc[df3.RestaurantLessThan20 == '4~8', 'RestaurantLessThan20'] = 3
df3.loc[df3.RestaurantLessThan20 == 'gt8', 'RestaurantLessThan20'] = 4

In [ ]:
df3.loc[df3.CarryAway == 'never', 'CarryAway'] = 0
df3.loc[df3.CarryAway == 'less1', 'CarryAway'] = 1
df3.loc[df3.CarryAway == '1~3', 'CarryAway'] = 2
df3.loc[df3.CarryAway == '4~8', 'CarryAway'] = 3
df3.loc[df3.CarryAway == 'gt8', 'CarryAway'] = 4

In [ ]:
df3.loc[df3.CoffeeHouse == 'never', 'CoffeeHouse'] = 0
df3.loc[df3.CoffeeHouse == 'less1', 'CoffeeHouse'] = 1
df3.loc[df3.CoffeeHouse == '1~3', 'CoffeeHouse'] = 2
df3.loc[df3.CoffeeHouse == '4~8', 'CoffeeHouse'] = 3
df3.loc[df3.CoffeeHouse == 'gt8', 'CoffeeHouse'] = 4

In [ ]:
df3.loc[df3.Bar == 'never', 'Bar'] = 0
df3.loc[df3.Bar == 'less1', 'Bar'] = 1
df3.loc[df3.Bar == '1~3', 'Bar'] = 2
df3.loc[df3.Bar == '4~8', 'Bar'] = 3
df3.loc[df3.Bar == 'gt8', 'Bar'] = 4

In [ ]:
df3.loc[df3.education == 'Some High School', 'education'] = 0
df3.loc[df3.education == 'High School Graduate', 'education'] = 1
df3.loc[df3.education == 'Some college - no degree', 'education'] = 2
df3.loc[df3.education == 'Associates degree', 'education'] = 3
df3.loc[df3.education == 'Bachelors degree', 'education'] = 4
df3.loc[df3.education == 'Graduate degree (Masters or Doctorate)', 'education'] = 5

In [ ]:
df3.loc[df3.temperature == 30 , 'temperature'] = 0
df3.loc[df3.temperature == 55 , 'temperature'] = 1
df3.loc[df3.temperature == 80 , 'temperature'] = 2

# Dummy Variables

In [ ]:
df3.toCoupon_GEQ5min.value_counts()

In [ ]:
df3 = df3.drop('toCoupon_GEQ5min', axis = 1)

In [ ]:
df4=pd.get_dummies(df3, columns = ['destination','passanger','weather','coupon',
                       'expiration','gender','maritalStatus',
                       'occupation'
                       ])

In [ ]:
df4.shape

In [ ]:
X=df3.drop(['Y'],axis=1) #drop target
y=df3['Y'] #everything but target

# Outlier Detection

In [25]:
df['time'].unique()

['2PM', '10AM', '6PM', '7AM', '10PM']
Categories (5, object): ['10AM', '10PM', '2PM', '6PM', '7AM']

In [26]:
df4.loc[df4['time'] == '7AM', 'timev'] = 0

C:\Users\rejalu1\.conda\envs\cmdpy37\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\rejalu1\.conda\envs\cmdpy37\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)